{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <link href="{% static 'catalogs.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <meta property="og:title" content="Romashka.pro Ваш надежный партнер">
    <meta property="og:description" content="новости в мире цифровых технологий">
    <meta property="og:url" content="https://romashka.pro">
    
    <title>Romashka.pro</title>

    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    
        ym(94103796, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/94103796" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    
    
</head>
<body style="background-color:#d8d8d8;">
    <header>
        <div container class="containerheader">
            <div class="row align-items-center header-row">
                <div class="col-2 logo-col">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'logo.png' %}" alt="Логотип" class="img-fluid">
                    </a>
                </div>                
                <div class="col-9 text-col">
                    <p style="font-weight: bold;">{{ article.title }}</p>
                </div>
                <div class="col-1 button-col">
                    <button class="navbar-toggler btn-unstyled dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="{% url 'conect' %}">Связаться с нами</a></li>
                        <li><a class="dropdown-item" href="https://t.me/romashka_pro_bot">ИИ в Телеграм</a></li>
                        <li><a class="dropdown-item" href="{% url 'blogs' %}">Блог</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container mt-5 mb-5" style="padding: 20px;">
        <!-- Изображение статьи -->
        <div class="mb-4" style="padding: 10px;">
            <img src="{{ article.image.url }}" alt="{{ article.title }}" class="img-fluid">
        </div>
        
        <div class="mb-4" style="padding: 10px;">
            <small class="text-muted">{{ article.date_created|date:"d M, Y" }}</small>
        </div>
        
        <div style="padding: 10px;">
            {{ article.content|safe }}
        </div>
    </div>
    
    <footer class="site-footer">
        <div class="footer-content">
            <div class="footer-icons">
                <div class="dropdown icon-wrapper">
                    <img src="{% static 'phone.svg' %}" alt="Телефон" id="phoneDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <ul class="dropdown-menu" aria-labelledby="phoneDropdown">
                        <li><a class="dropdown-item" href="#">+7-999-699-99-79</a></li>
                    </ul>
                </div>
                <div class="dropdown icon-wrapper">
                    <img src="{% static 'telegram.svg' %}" alt="Telegram" id="telegramDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <ul class="dropdown-menu" aria-labelledby="telegramDropdown">
                        <li><a class="dropdown-item" href="#">@romashka.pro</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="footer-text">
                <p>© 2023 Romashka.pro&AI </p>
                <p>ИП Ромашкин Р.В, ИНН 614761813055</p>
                <p>гор.Каменск-Шахтинский ул. Гагарина 71 Б</p>
            </div>
        </div>
    </footer> 

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script>AOS.init();</script>
</body>
</html>    